@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;

}

body {
    background-color: #ffffff;
    color: #121212;
}

/* Dark mode styles */
body.dark {
    background-color: #000;
    color: #ffffff;
}
::-webkit-scrollbar {
    width: 6px;  /* Adjust width for vertical scrollbars */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* Track color */
}

::-webkit-scrollbar-thumb {
    background: #888; /* Handle color */
    border-radius: 10px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* Handle color on hover */
}

.custom-scrollbar::-webkit-scrollbar {
    width: 0;  /* Hide scrollbar width */
    height: 0; /* Hide scrollbar height */
}

.custom-scrollbar {
    -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
    scrollbar-width: none; /* Hide scrollbar for Firefox */
}
